@model _03.Fiap.Web.MVC.Models.Jogo

<tr>
    <td>@Model.Nome</td>
    <td>@Model.Genero</td>
    <td>@(Model.Demo ? "Sim" : "Não")</td>
    <td>@Model.Plataforma</td>
    <td>@Model.Descricao</td>
    <td>@Model.IdadeMinima</td>
</tr>