@model List<_03.Fiap.Web.MVC.Models.Jogo>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Gênero</th>
        <th>Demo</th>
        <th>Plataforma</th>
        <th>Descrição</th>
        <th>Idade</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Genero</td>
            <td>@(item.Demo?"Sim":"Não")</td>
            <td>@item.Plataforma</td>
            <td>@item.Descricao</td>
            <td>@item.IdadeMinima</td>
        </tr>
    }
</table>

