@model Fiap04.Web.MVC.Models.Produto

@{
    /**/

    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(produto => produto.Nome)
        @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(produto => produto.Descricao)
        @Html.TextAreaFor(p => p.Descricao, 5, 50, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(produto => produto.Validade)
        @Html.TextBoxFor(p => p.Validade, new { @class = "form-control" })
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary"/>
}

